body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, #FFB612, #FFB612);
  color: #212529;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-custom tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-custom td,
.table-custom th {
  border: 1px solid #dee2e6;
  vertical-align: middle;
}

.app-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Posicionamento das imagens */
.borda-imagem {
  position: fixed;
  width: 150px;
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.topo-esquerda {
  top: 70px;
  left: 0;
}

.topo-direita {
  top: 70px;
  right: 0;
}

.base-esquerda {
  bottom: 0;
  left: 0;
  transform: rotate(180deg);

}

.base-direita {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
}

.app-header {
  background-color: #000000;
  color: white;
}

.modal-content {
  background-color: #121212 !important;
  color: white !important;
  border-radius: 10px;
  border: none;
}

.modal-header,
.modal-body {
  border: none;
}

.modal-header .btn-close {
  filter: invert(1);
}

.modal-open .modal-backdrop {
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.7);
}